.select {
	width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid $color-3;
	border-radius: 6px;
	background-color: transparent;
	padding: 10px 35px 10px 15px;
	outline: none;
	cursor: pointer;
	color: $color-7;
	font-weight: 500;

	&::-ms-expand {
		display: none;
	}

	&:focus {
		outline: none;
	}

	option {
		color: $color-2;
	}
}

.select-wrapper {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10.4px 6px 0 6px;
		border-color: $color-3 transparent transparent transparent;
		pointer-events: none;
	}
}